estimating-v3/.settings/org.eclipse.wst.jsdt.ui.superType.name
estimating-v3/.settings/.jsdtscope
estimating-v3/.project
*.prefs
estimating-v3/.settings/org.eclipse.wst.jsdt.ui.superType.container
estimating-v3/.settings/org.eclipse.wst.common.component
*.classpath
estimating-v3/.settings/org.eclipse.wst.common.project.facet.core.xml