<div class="row">
	<div class="col-md-4">
		<ul class="ver-inline-menu tabbable margin-bottom-10">
			<li class="active">
				<a data-toggle="tab" href="#tab_1">
				<i class="fa fa-briefcase"></i> Introduce Function point method </a>
				<span class="after">
				</span>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_2">
				<i class="fa fa-group"></i> External Inputs </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_3">
				<i class="fa fa-leaf"></i> External Outputs </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_4">
				<i class="fa fa-info-circle"></i> External Online Queries </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_5">
				<i class="fa fa-tint"></i> Internal Logical Files </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_6">
				<i class="fa fa-plus"></i> External Interface Files </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_7">
				<i class="fa fa-plus"></i> Relative Complexity Adjustment Factors </a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_8">
				<i class="fa fa-plus"></i>Total points </a>
			</li>
		</ul>
	</div>
	<div class="col-md-8">
		<div class="tab-content">
			<div id="tab_1" class="tab-pane active">
				<div id="accordion1" class="panel-group">
					<div class="panel panel-success">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1">
							Introduce Function point method </p>
							</h4>
						</div>
						<div id="accordion1_1" class="panel-collapse collapse in">
							<div class="panel-body">
								 <p>
								 	A function point is a unit of measurement to express the amount of business functionality an information system
								 	(as a product) provides to a user. Function points measure software size. The cost (in dollars or hours) of a
								 	single unit is calculated from past projects. Function points were defined in 1979 in Measuring Application Development
								 	Productivity by Allan Albrecht at IBM. The functional user requirements of the software are identified and each one is
								 	categorized into one of five types: outputs, inquiries, inputs, internal files, and external interfaces.
								 </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- begin tab ei -->
			<div id="tab_2" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							External Inputs </p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>
									Count each unique user data or user control input type that enters the external boundary 
									of the application being measured, and adds, changes, deletes or otherwise alters data 
									(e.g. assign, transfer, add, update) in an external logical file. Also count control 
									information that enters the application boundary and assures compliance with business 
									function specified by the user. An external input should be considered unique if the 
									external logical design requires processing logic different from other external inputs.
								</p>
								<p>EIP = (No.of Simple)*3 + (No. of Average)*4 + (No. of Complex)*6</p>
								<div class="portlet-body">
								<div class="table-scrollable">
									<table class="table table-hover">
									<thead>
									<tr>
										<th>
											 ID
										</th>
										<th>
											 Complexity
										</th>
										<th>
											 Weight
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											 1
										</td>
										<td>
											 Simple
										</td>
										<td>
											 3
										</td>
									</tr>
									<tr>
										<td>
											 2
										</td>
										<td>
											 Average
										</td>
										<td>
											 4
										</td>
									</tr>
									<tr>
										<td>
											 3
										</td>
										<td>
											 Complex
										</td>
										<td>
											 6
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			<!--  end tab ei -->
			<!-- begin tab eo  -->
			<div id="tab_3" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							External Outputs </p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>
									Count each unique user data or control data that leaves the external boundary of the 
									application being measured. An external output should be considered unique if it has 
									different data, or if the external design requires processing logic different from other 
									external outputs. External outputs often consist of reports, output files sent to other 
									applications, or messages to the user.
								</p>
								<p>EOP = (No.of Simple)*4 + (No. of Average)*5 + (No. of Complex)*7</p>
								<div class="portlet-body">
								<div class="table-scrollable">
									<table class="table table-hover">
									<thead>
									<tr>
										<th>
											 ID
										</th>
										<th>
											 Complexity
										</th>
										<th>
											 Weight
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											 1
										</td>
										<td>
											 Simple
										</td>
										<td>
											 4
										</td>
									</tr>
									<tr>
										<td>
											 2
										</td>
										<td>
											 Average
										</td>
										<td>
											 5
										</td>
									</tr>
									<tr>
										<td>
											 3
										</td>
										<td>
											 Complex
										</td>
										<td>
											 7
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			<!-- end tab eo -->
			<!-- begin tab eq -->
			<div id="tab_4" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							External Online Queries </p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>
									Count each unique input/output combination, where an input causes and generates an 
									output, as an external inquiry. An external inquiry should be considered unique if it has 
									different data elements from other external inquiry types in its output part, or if the 
									external design requires a processing logic different from other external inquiries.
								</p>
								<p>EOP = (No.of Simple)*3 + (No. of Average)*4 + (No. of Complex)*6</p>
								<div class="portlet-body">
								<div class="table-scrollable">
									<table class="table table-hover">
									<thead>
									<tr>
										<th>
											 ID
										</th>
										<th>
											 Complexity
										</th>
										<th>
											 Weight
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											 1
										</td>
										<td>
											 Simple
										</td>
										<td>
											 3
										</td>
									</tr>
									<tr>
										<td>
											 2
										</td>
										<td>
											 Average
										</td>
										<td>
											 4
										</td>
									</tr>
									<tr>
										<td>
											 3
										</td>
										<td>
											 Complex
										</td>
										<td>
											 6
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			<!-- end tab eq -->
			<!-- begin tab ilf -->
			<div id="tab_5" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							Internal Logical Files </p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>
									Each major logical group of user data or application control information is one ILF. 
									Include each logical file, or within a database, each logical group of data from the 
									viewpoint of the user that is generated, used or maintained by the application. Count each 
									logical group of data as viewed by the user and as defined by requirements analysis or 
									data design rather than the actual physical files. Do not include files not accessible by the 
									user through external output or inquiry and that are not independently maintained.
								</p>
								<p>ILFP = (No.of Simple)*7 + (No. of Average)*10 + (No. of Complex)*15</p>
								<div class="portlet-body">
								<div class="table-scrollable">
									<table class="table table-hover">
									<thead>
									<tr>
										<th>
											 ID
										</th>
										<th>
											 Complexity
										</th>
										<th>
											 Weight
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											 1
										</td>
										<td>
											 Simple
										</td>
										<td>
											 7
										</td>
									</tr>
									<tr>
										<td>
											 2
										</td>
										<td>
											 Average
										</td>
										<td>
											 10
										</td>
									</tr>
									<tr>
										<td>
											 3
										</td>
										<td>
											 Complex
										</td>
										<td>
											 15
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			<!-- end tab ilf  -->
			<!-- begin tab eif -->
			<div id="tab_6" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							External Interface Files </p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>
									Count each major logical group of user data or control information used by the 
									application. This information must be maintained, however, by another application. 
									Include each logical file or logical group of data from the viewpoint of the user. Count 
									each major logical group of user data or control information that is extracted by the 
									application from another application as an external interface file. The extract will not 
									result in an update to any internal logical files. If an update occurs, count an EI not an EIF.
								</p>
								<p>EIFP = (No.of Simple)*5 + (No. of Average)*7 + (No. of Complex)*10</p>
								<div class="portlet-body">
								<div class="table-scrollable">
									<table class="table table-hover">
									<thead>
									<tr>
										<th>
											 ID
										</th>
										<th>
											 Complexity
										</th>
										<th>
											 Weight
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											 1
										</td>
										<td>
											 Simple
										</td>
										<td>
											 5
										</td>
									</tr>
									<tr>
										<td>
											 2
										</td>
										<td>
											 Average
										</td>
										<td>
											 7
										</td>
									</tr>
									<tr>
										<td>
											 3
										</td>
										<td>
											 Complex
										</td>
										<td>
											 10
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
							</div>
						</div>
					</div>
				</div>
			<!-- end tab eif -->
			<!-- begin tab rcaf -->
			<div id="tab_7" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							Relative Complexity Adjusment Factor</p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="portlet-body">
								<div class="table-scrollable">
									<table class="table table-hover">
									<thead>
									<tr>
										<th>
											 ID
										</th>
										<th>
											 Subject
										</th>
										<th>
											 Grade
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
                                            <td>1</td>
                                            <td>Does with system require reliable backup and recovery?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Are data communications required?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Are there distributed processing functions?</td>
                                            <td>0-5</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>Is performance critical?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>Will the system run in an existing, heavily utilized operational environment?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Does the system require on-line data entry?</td>
                                            <td>0-5</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Does the on-line data entry require the input transaction to be built over multiple screens or operations?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Are the master files updated on-line?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>Are the inputs, outputs,files or inquiries complex?</td>
                                            <td>0-5</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>Is the internal processing complex?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Is the code designed to be reusable?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>Are conversion and installation included in the design?</td>
                                            <td>0-5</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>Is the system designed for multiple installations in different organizations?</td>
                                            <td>0-5</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>Is the application designed to facilitate change and ease of use by the user?</td>
                                            <td>0-5</td>
                                        </tr>
									</tbody>
									</table>
								</div>
							</div>
							<p>Rate each factor on a scale of 0 to 5:</p>
							<ul>
								<li>0 = No influence</li>
								<li>1 = Incidental</li>
								<li>2 = Moderate</li>
								<li>3 = Average</li>
								<li>4 = Significant</li>
								<li>5 = Essential</li>
								</ul>
						</div>
							</div>
						</div>
					</div>
				</div>
			<!-- end tab rcaf -->
			<!-- begin tab result -->
			<div id="tab_8" class="tab-pane">
				<div id="accordion2" class="panel-group">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h4 class="panel-title">
							<p class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2">
							External Interface Files </p>
							</h4>
						</div>
						<div id="accordion2_1" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>
									Finally the FP can be calculated once the unadjusted function point and total of RCAF. 
									The FP is calculated based on the following formula:
								</p>
								<p>FPs = [0.65 + (0.01 * RCAF)] * UFP.</p>
								<ul>
									<li>UFP = UFP = UIP + UOP + UQP + ILFP + EIFP</li>
									<li>RCAF : sum of grade in Relative Complexity Adjustment Factor</li>
								</ul>
						</div>
							</div>
						</div>
					</div>
				</div>
			<!-- end tab result -->
		</div>
	</div>
</div>
